<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/catalogue">Catalogue</a></li>
    <li class="breadcrumb-item active" aria-current="page">About</li>
  </ol>
</nav>


<div class="container">
  <div class="row ">
    <div class="col-sm-6">
      <img class="pict" src="assets/JD-profile.jpg" /><br>
      <h4>Developer:</h4>
      <h4>Joakim Delnero</h4>
      <a href="joakim.delnero@scania.com">joakim.delnero@scania.com</a><br>

    </div>
    <div class="col-sm-6">
      <img class="pic" src="assets/Myphoto2.jpg" />
      <h4>Developer:</h4>
      <h4>Tina Tizro</h4>
      <a href="soheila.tizro@scania.com">soheila.tizro@scania.com</a><br>
    </div>
  </div>
</div><br>

<div class="container font-small bg-light text-secondary mt-4 text-center py-2">
  <div class="col-sm-12" id="version">
    <h6>Version 1.0</h6>
    <h6>Book Store Project with Angular</h6>
    <h6>Release date: 2020.06.17</h6>
  </div>
</div>