.container {
   font-family: 'Times New Roman', Times, serif;
   width: 100%;
   text-align: center;
}

@media (max-width: 767.98px) {
   img {
      size: 50%;
   }
}

#version {
   padding-bottom: 10px;
}

h5 {
   margin: 30px;
}

.bg-dark {
   padding-bottom: 50px;
}

a, li {
   text-decoration: none;
   color: #F35F40;
}

.container {
   justify-content: space-between
}