.container {
    width: 20%;
    background-color: #343A40;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    margin-top: 15px;
 
    padding-bottom: 40px;
}

.container {
    min-width: 300px;
}

a, li {
    text-decoration: none;
    color: #F35F40;
}

.btn:hover, .btn:focus, .btn:active {
    background-color: #f35e40;
    color: #0e0c0b;
    border-color: #f35e40;
}