<div class="container text-light">
    <h3>Register an account on *ngIf bookstore </h3><br>

    <form [formGroup]="registerForm">
        <div class="form-group">
            <label for="full_name">Full Name</label><br>
            <input class="form-control" type="text" name="full_name" id="full_name"
                placeholder="Enter your full name..." formControlName="full_name" autocomplete="name"
                pattern="[a-zA-Z ]*" minlength="4" maxlength="40" required />
        </div>
        <div *ngIf="full_name.invalid && (full_name.dirty|| full_name.touched )">
            <i *ngIf="full_name.errors.required">Full name is required</i>
            <i *ngIf="full_name.errors.minlength">Name must be atleast 4 letters</i>
            <i *ngIf="full_name.errors.pattern">Name can only contain letters</i>
        </div>
        <div class="form-group">
            <label for="email"> Email address</label><br>
            <input class="form-control" type="email" name="email" id="email" placeholder="Enter your email address..."
                formControlName="email" autocomplete="email" required minlength="5">
        </div>
        <div *ngIf="email.invalid && (email.dirty|| email.touched )">
            <p *ngIf="email.errors.required">Email is required</p>
            <p *ngIf="email.errors.minlength">Enter valid email address</p>

        </div>


        <div class="form-group">
            <label for="password">Password</label><br>
            <input class="form-control" type="password" name="password" id="password"
                placeholder="Enter your password..." autocomplete="new-password" formControlName="password" required
                minlength="5">
        </div>
        <div *ngIf="password.invalid && (password.dirty|| password.touched )">
            <p *ngIf="password.errors.required">password is required</p>
            <p *ngIf="password.errors.minlength">password must be at least 5 characters</p>

        </div>
        <br>

        <div class="form-group">
            <label for="confirm">Confirm your password</label><br>
            <input class="form-control" type="password" name="confirm" id="confirm"
                placeholder="Confirm your password..." autocomplete="off" formControlName="confirm" required
                minlength="5">
        </div>

        <br>

        <button *ngIf="password.valid && confirm.value === password.value" class="btn btn-outline-light btn-lg"
            (click)="onRegisterClicked()" type="button" [disabled]="isLoading || registerForm.invalid">Register</button>
        <br>
        <div *ngIf="registerError" class="alert alert-danger mt-2" role="alert">
            <h4>Something went wrong</h4>
            <p> {{ registerError }}</p>

        </div>
        <div *ngIf="isLoading">
            <p>Registering your account...</p>
        </div>
        <a routerLink="/login"> I already have an account, Login now</a>
    </form>
     
</div>