/*------------
 ---Text---
 -------------*/
h5,
p,
small
 {
  color: #f35f40;
}
/*------------
  ---Buttons---
 -------------*/
button {
  color: #f35f40;
  border-collapse: inherit;
  border-spacing: 2px;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #f35e40;
  color: #0e0c0b;
  border-color: #f35e40;
}

/*------------
  ---Containers-
 -------------*/
 .card-header {
   height: 66px;
   align-items: center;
 }
.card-header, .card-footer,
.card-body,.card-text, thead, th,
div {
  background-color: #3e444a;
  border-radius: 0;
  border-collapse: inherit;
  border-spacing: 2px;
}

/* .table td,
.table th {
  padding: 0;
  vertical-align: middle;
  justify-content: center;
} */
