<div class="card-header text-center">
  <h5 class="m-0">Welcome!</h5>
</div>
<div class="card-body bg-dark">
  <p class="mb-1">Name: {{ full_name }}</p>
  <p class="mb-1">Email: {{ email }}</p>
  <small class="mb-1"> Last login: {{ last_login | date }} </small>
</div>
<div class="card-footer d-flex justify-content-between bg-dark">
  <!--'/edit-profile' -->
  <button
    class="btn btn-outline-light btn-sm"
    type="button"
    target="_blank"
    (click)="onEditProfileClick()"
  >
    Edit Profile
  </button>

  <!--'/add-book' -->
  <button
    class="btn btn-outline-light btn-sm"
    type="button"
    (click)="onGoAddBookClicked()"
  >
    Add a book to the list.
  </button>
  
  <!-- Logout -->
  <button
    class="btn btn-outline-light btn-sm"
    type="button"
    (click)="onLogoutClick()"
  >
    Logout
  </button>
</div>
