a {
    display: block;
    color: grey;
    text-align: center;
    text-decoration: none;
}

.footer {
    font-family: 'Times New Roman', Times, serif;
    bottom: 0px;
    width: 100%;
    background-color: #343A40;
    height: 70px;
    margin-bottom: 0px;
    position: fixed;
    padding: 0px 0px 0px;
       
}
.imgdiv{
    margin-left: 50%;
    margin-right: 50%;
}
 .container{
     
     text-align: center;      

    position: fixed;
    width: 100%;
      
   } 

 

