<nav class="navbar navbar-dark m-0 bg-dark justify-content-between" style="max-height:65px">
    <span><img src="assets/logo.jpg" style="max-height:40px"></span>
    <a [routerLink]="['/about']" target="_blank">About</a>
</nav>
<router-outlet></router-outlet><br><br>

<!-- Footer -->
<div class="footer text-light">
    <footer>
        <span class="imgdiv"><img src="assets/logo.jpg"></span>
            </footer>
</div>
