<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/catalogue">Catalogue</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add a book</li>
    </ol>
</nav>

<div class="row no-gutters">
    <div class="col-sm-4"></div>


    <div class="col-sm-4">
        <div class="card-body center_div text-light">
            <form [formGroup]="addBookForm">
                <div class="form-group">
                    <label for="password">Title *</label><br>
                    <input class="form-control" type="text" name="title" id="title"
                        placeholder="My New Adventure (required)" formControlName="title" required />
                </div>
                <div class="form-group">
                    <label for="author">Author(s) *</label><br>
                    <input class="form-control" type="text" name="author" id="author" placeholder="D.Adams. R.Dahl "
                        formControlName="authors" required />
                </div>
                <div class="form-group">
                    <label for="description">Description *</label><br>
                    <textarea class="form-control" id="description" placeholder="Short description of book" rows=3
                        formControlName="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="isbn">ISBN *</label><br>
                    <input class="form-control" type="text" name="isbn" id="isbn" placeholder="ISBN6363949505"
                        formControlName="isbn" required />
                </div>
                <div class="form-group">
                    <label for="cover">URL to Cover *</label><br>
                    <input class="form-control" type="text" name="cover" id="cover"
                        placeholder="http://bookcover.com/cover.png" formControlName="cover" required />
                </div>
                <div class="form-group">
                    <label for="stock">Stock Received*</label><br>
                    <input class="form-control" type="text" name="stock" id="stock" placeholder="100"
                        formControlName="stock" required />
                </div>

                <button class="btn btn-secondary mr-3" style="width:80px;" (click)="onAddBookClicked()" type="button"
                    [title]="addBookForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                    [disabled]="!addBookForm.valid">
                    Add
                </button>
                <button class="btn btn-outline-secondary mr-3" style="width:80px;" (click)="onCancelBookClicked()"
                    type="button" title="Cancel">
                    Cancel
                </button>


            </form>


        </div>

    </div>
    <div class="col-sm-4">

    </div>