.center_div {
 
  background-color: #343A40;
  font-family: 'Times New Roman', Times, serif;

}

a, li{
  text-decoration: none;
  color: #F35F40;
  
}
.btn:hover, .btn:focus, .btn:active {
  background-color: #f35e40;
  color: #0e0c0b;
  border-color: #f35e40;
}