
        <div class="row no-gutters">
        <div class="col-sm-4"></div>

        <div class="col-sm-4">
            <div class="card-body center_div text-light">
                <form [formGroup]="loginForm">
                    <h3>Login to our *ngIf book store</h3><br>
                    <div class="form-group">
                        <label for="email">Email</label><br>
                        <input class="form-control" type="text" name="email" id="email" autocomplete="email"
                            placeholder="Enter your email..." formControlName="email" required minlength="3">
                    </div>
                    <div *ngIf="email.invalid && ( email.dirty || email.touched )">
                        <p *ngIf="email.errors.required">email is required</p>
                        <p *ngIf="email.errors.minlength">email should at least be 3 characters</p>


                    </div>
                    <div class="form-group">
                        <label for="password">Password</label><br>
                        <input class="form-control" type="password" name="password" id="password"
                            autocomplete="current-password" placeholder="Enter your password..."
                            formControlName="password" required minlength="4">
                    </div>
                    <div *ngIf="password.invalid && ( password.dirty || password.touched )">
                        <p *ngIf="password.errors.required">Password is required</p>
                        <p *ngIf="password.errors.minlength">Password should at least be 4 characters</p>


                    </div>
                    <br><br>

                    <button class="btn btn-outline-light btn-lg" (click)="onLoginClicked()" type="button"
                        [disabled]="isLoading || loginForm.invalid">Login</button>
                    <br>
                    <div *ngIf="loginError" class="alert alert-danger mt-2" role="alert">
                        <h4>Something went wrong</h4>
                        <p> {{ loginError}}</p>

                    </div>
                    <div *ngIf="isLoading">
                        <p> Attempting to login...</p>

                    </div>
                </form>
                <br><br>
                <a routerLink="/register">I don't have an account, Register now</a>


            </div>
        </div>
        <div class="col-sm-4">
        </div>