.center_div {
  background-color: #343a40;
  font-family: "Times New Roman", Times, serif;
  text-decoration-color: whitesmoke;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: #f35e40;
  color: #0e0c0b;
  border-color: #f35e40;
}

a,
li {
  text-decoration: none;
  color: #f35f40;
}
