<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/catalogue">Catalogue</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
  </ol>
</nav>

<div class="row no-gutters">
  <div class="col-sm-4"></div>

  <div class="col-sm-4">
    <div class="card-body center_div text-light">
      <form [formGroup]="editProfileForm">
        <div class="">
          <label class="form-label" for="full_name">Full Name </label>
        </div>
        <div class="">
          <input
            class="form-control"
            id="full_name"
            type="text"
            placeholder="John Doe"
            formControlName="full_name"
            minLength="4"
            pattern="[a-zA-Z ]*"
            required
          />
        </div>
        <div
          *ngIf="full_name.invalid && (full_name.dirty || full_name.touched)"
        >
          <i *ngIf="full_name.errors.required">A Name is required</i>
          <i *ngIf="full_name.errors.minlength"
            >Name must be atleast 4 letters</i
          >
          <i *ngIf="full_name.errors.pattern">Name can only contain letters</i>
        </div>

        <div></div>
        <br /><br />

        <div class="">
          <button
            class="btn btn-secondary mr-3"
            style="width: 80px;"
            (click)="onUpdateClicked()"
            type="button"
            [title]="
              editProfileForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            "
            [disabled]="!editProfileForm.valid"
          >
            Update
          </button>
          <button
            class="btn btn-outline-secondary mr-3"
            style="width: 80px;"
            (click)="onCancelClicked()"
            type="button"
            title="Cancel"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-sm-4"></div>
</div>
