a, button, h3, small, .search, h5, li {
    text-decoration: none;
    color: #F35F40 ;
   
 
}

.card-header {
   background-color: #3e444a;
}

.table td, .table th {
padding: 0;
    vertical-align: middle;
   justify-content: center;
}

.table {
    border-collapse: inherit;
}
img {
    height: 180px;
    width: 125px;
    border-style: inset;

}

