<nav aria-label="breadcrumb p-0">
  <ol class="breadcrumb m-0 p-1">
      <li class="breadcrumb-item"><a routerLink="/catalogue">Catalogue</a></li>
      <li class="breadcrumb-item active" aria-current="page">Book Details.</li>
  </ol>
</nav>


<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div *ngIf="book$ | async as book$" class="card text-center">
        <div class="card-header p-2">
          <h5 class="m-0">{{ book$.title }}</h5>
        </div>
        <div class="card-body p-2">
          <img class="rounded" [src]="book$.cover" alt="Book Cover" />
          <ul class="list-group p-1 list-group-striped list-group-flush">
            <li class="list-group-item p-1"><h5 class="card-title">By: {{ book$.authors }}</h5></li>
            <li class="list-group-item p-1">Description: {{ book$.description }}</li>
            <li class="list-group-item p-1">ISBN: {{ book$.isbn }}</li>
            <li class="list-group-item p-1">ID:   {{ book$.id }}</li>
            <li class="list-group-item p-1">Stock:{{ book$.stock }}
            </li>
          </ul>
        </div>
        <div class="card-footer">
          Book added: {{ book$.created_at | date }}
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
