<div class="card-header">
  <h3 class="">
    Book List
  </h3>
  <div *ngIf="searchFilter">
    <h6>Searched by: {{ searchFilter }}</h6>
  </div>
</div>

<table class="table table-responsive mb-0 table-dark table-striped">
  <thead class="">
    <tr scope="row">
      <th scope="col">
        <button class="btn btn-dark btn-sm" (click)="toggleCovers()">
          {{ showCover ? "Hide" : "Show" }} Covers
        </button>
      </th>
      <th scope="col">
        <div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="inStockFilter"
              name="inStockFilter"
              [(ngModel)]="inStockBooks"
            />
            <label class="form-check-label" for="inStockFilter"
              ><small>In stock only </small></label
            >
          </div>
          <div class="search md-2 p-2">
            Search:
            <input type="text" [(ngModel)]="searchFilter" />
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody class="" *ngFor="let book of getFilteredBooks()">
    <tr scope="row" class="mb-0 p-0">
      <td class="">
        <img *ngIf="showCover" [src]="book.cover" [title]="book.title" />
      </td>
      <td class="list-group md-auto p-4">
        <a
          [routerLink]="['/book-detail', book.id]"
          target="_blank"
          class="list-group-item list-group-item-action flex-column align-items-start bg-dark"
        >
          <div class="d-flex justify-content-between">
            <h5 class="mb-1">{{ book.title }}</h5>

            <button
              class="btn btn-outline-light btn-sm"
              (click)="onDeleteClick(book.id)"
            >
              Delete
            </button>
          </div>
          <p class="mb-1">{{ book.authors }}</p>
          <small class=""
            >Stock:
            <dt>{{ book.stock }}</dt></small
          >
        </a>
      </td>
    </tr>
  </tbody>
  
</table>
