/*------------
  ---TEXT---
 -------------*/
a,
h3,
small,
.search,
h6,
input {
  text-decoration: none;
  color: #f35f40;
}

/*------------
  ---Buttons---
 -------------*/

button {
  color: #f35f40;
  border-collapse: inherit;
  border-spacing: 2px;
  height: 30px;
  width: 60px;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #f35e40;
  color: #0e0c0b;
  border-color: #f35e40;
}
/*------------
  ---Containers-
 -------------*/
.card-header,
input {
  background-color: #3e444a;
  border-radius: 0%;
  justify-content: space-between;
}

.table td,
.table th,
th {
  border: 0;
  border-collapse: inherit;
  padding: 0;
  vertical-align: middle;
  justify-content: center;
}

.table,
div,
.card,
.card-header,
input,
.list-group {
  border-collapse: inherit;
  border-spacing: 2px;
}
/*---------------
  --Book Images
 -------------*/
img {
  height: 180px;
  width: 125px;
  border-style: inset;
}
