div , .card-header {
    padding: 0;
    margin: 0;
    border-collapse: inherit;
    border-spacing: 2px;
}




a, button {
    text-decoration: none;
    color: #F35F40 ;
    border-collapse: inherit;
    border-spacing: 2px;
    background-color: #3e444a;
  
    position: fixed;
    top: 63%;
    left: 10%;
    justify-content: center;
    align-items: center;
  
}

.btn:hover,
.btn:focus,
.btn:active    {
    background-color:#f35e40;
    color:#0e0c0b;
    border-color:#f35e40;
   
}



.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
   
  }